@charset "EUC-KR";
.main_box {
    background-color: black; 
    border: none;
    border-radius: 20px;    
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

.main_box:hover {
  background-color: red;
  color: white;
  border-radius: 20px;
 }
